Renaming.bak
Renaming.tmdx
example.py
/venv/
/2021-08-12  09-00-44.jpg
/2021-08-12 090044.ORF
/.idea/EXIF_Renamer.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/img/2019-02-24  09-05-08.JPG
/img/2021-08-12  09-00-44.ORF
